@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    cursor:pointer;
    width: 4px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background: #1D232A;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background: #ED4C8C;
    border-radius: 2px;
}
